
<h2>team </h2>
<form method="post" action="[% SCRIPT_NAME %]/team/">
 <ul>  <li>
   <label for="teamname">teamname</label>
   <input type="text" id="teamname" name="teamname" value="[% model.teamname %]" />
  </li>
 </ul>
 <input type="submit" value="Add" />
</form>
 
