[<a href="[% model.id_team %];edit">Edit</a>]
<h2>[% model.teamname %]</h2>

<dl class="tbl">
 <dt>Company</dt>
 <dd><a href="[% SCRIPT_NAME %]/company/[% model.company.id_company %]">[% model.company.name %]</a></dd>
</dl>

<table>
  <caption>Team Members</caption>
  [% PROCESS person/table_header.tt2 %]
  <tbody>
[%- FOREACH person IN model.people %]
  [% PROCESS person/table_row.tt2 %]
[%- END %]
  </tbody>
</table>

 
