<h2>Holidays[% IF model.id_person %] for <a href="[% SCRIPT_NAME %]/person/[% model.id_person %]">[% model.person.full_name %]</a>[% END %]</h2>
<table id="holiday_list">
  [% PROCESS holiday/table_header.tt2 %]
 <tbody>
[% FOREACH holiday = model.holidays %]
  [% PROCESS holiday/table_row.tt2 %]
[% END %]
 </tbody>
</table>

 
