
<h2>email_rule </h2>
<form method="post" action="[% SCRIPT_NAME %]/email_rule/">
 <ul>  <li>
   <label for="rule">rule</label>
   <input type="text" id="rule" name="rule" value="[% model.rule %]" />
  </li>
 </ul>
 <input type="submit" value="Add" />
</form>
 
