<table id="email_rule_list">
 <caption>Email Rule List</caption>
 <thead><tr><th>Rule</th></tr></thead>
 <tbody>
[% FOREACH email_rule = model.email_rules %]
<tr>
 <td>[% email_rule.rule %]</td>
 <td>[<a href="[% SCRIPT_NAME %]/email_rule/[% email_rule.id_email_rule %];edit">edit</a>]</td>
</tr>
[% END %]
 </tbody>
</table>

 
