<table id="holiday_allowance_list">
  [% PROCESS holiday_allowance/table_header.tt2 %]
  <tbody>
[%- FOREACH holiday_allowance = model.holiday_allowances %]
    [% PROCESS holiday_allowance/table_row.tt2 %]
[%- END %]
  </tbody>
</table>

 
