
<h2>holiday_allowances </h2>
<table id="holiday_allowance_list">
 <caption>holiday_allowance list</caption>
 <thead><tr><th>standard_allowance</th><th>year</th></tr></thead>
 <tbody>
[% FOREACH holiday_allowance = model.holiday_allowances %]
<tr>
 <td>[% holiday_allowance.standard_allowance %]</td><td>[% holiday_allowance.year %]</td>
 <td>[<a href="[% SCRIPT_NAME %]/holiday_allowance/[% holiday_allowance.id_holiday_allowance %]">details</a>]</td>
</tr>
[% END %]
 </tbody>
</table>

 
