[<a href="[% model.id_holiday_allowance %];edit">Edit</a>]
<h2>Holiday Allowance for [% model.company.name %] during [% model.year %]</h2>
<dl class="tbl">
 <dt>Standard Allowance</dt>
 <dd>[% model.standard_allowance %]</dd>
</dl>



 
