<h2>Edit Person Admingroup </h2>
<form method="post" action="[% model.id_person_admingroup %]">
  [% PROCESS person_admingroup/form_fields.tt2 %]
  <p><input type="submit" value="Update" /></p>
</form>
 
