<table id="person_admingroup_list">
 <caption>Person Admin Groups</caption>
 <thead><tr>[% IF ! model.id_person %]<th>Person</th>[% END %]<th>Group Name</th></tr></thead>
 <tbody>[% FOREACH person_admingroup = model.person_admingroups %]
<tr>
 [% IF ! model.id_person %]<td>[% person_admingroup.person.full_name %]</td>[% END %]
 <td>[% person_admingroup.admingroup.groupname %]</td>
</tr>
[% END %]
 </tbody>
</table>

 
