<h2>Person : Admin Group</h2>
<table>
 <tr>
  <th>Person</th>
  <td>[% model.person.full_name %] [<a href="[% SCRIPT_NAME %]/person/[% model.id_person %]">details</a>]</td>
 </tr> <tr>
  <th>Admin Group</th>
  <td>[% model.admingroup.groupname %] [<a href="[% SCRIPT_NAME %]/admingroup/[% model.id_admingroup %]">details</a>]</td>
 </tr>
</table>
<p>[<a href="[% model.id_person_admingroup %];edit">Edit</a>]</p>



 
