[%- SET form_type = "add" %]
<h2>Make an Expense Claim</h2>
<form method="post" action="[% SCRIPT_NAME %]/expense_claim/" id="expense_claim_form">
  [% PROCESS expense_claim/form_fields.tt2 %]
  <input type="submit" value="Add" />
</form>
 
