[%- SET form_type = "edit" %]
<h2>Edit Expense Claim</h2>
<form method="post" action="[% SCRIPT_NAME %]/expense_claim/[% model.id_expense_claim %]" id="expense_claim_form">
 [% PROCESS expense_claim/form_fields.tt2 %]
 <p><input type="submit" value="Update" /></p>
</form>
 
