<table id="expense_claim_list">
  [% PROCESS expense_claim/table_header.tt2 %]
  <tbody>
[%- FOREACH expense_claim = model.expense_claims %]
  [% PROCESS expense_claim/table_row.tt2 %]
[%- END %]
  </tbody>
</table>

 
