<h2>Add Admin Group</h2>
<form method="post" action="[% SCRIPT_NAME %]/admingroup/">
 <ul>  <li>
   <label for="groupname">Groupname</label>
   <input type="text" id="groupname" name="groupname" value="[% model.groupname %]" />
  </li>
 </ul>
 <p><input type="submit" value="Add" /></p>
</form>
 
