<h2>Edit Admin Group </h2>
<form method="post" action="[% model.id_admingroup %]">
 <ul>
  <li>
   <label for="groupname">Groupname</label>
   <input type="text" id="groupname" name="groupname" value="[% model.groupname %]" />
  </li>
 </ul>
 <p><input type="submit" value="Update" /></p>
</form>
 
