<table id="company_list">
 <caption>Companies</caption>
 <thead><tr><th>Name</th><th>Email Domain</th></tr></thead>
 <tbody>
[%- FOREACH company = model.companies %]
<tr>
 <td>[% company.name %]</td><td>[% company.email_domain %]</td>
 <td>[<a href="[% SCRIPT_NAME %]/company/[% company.id_company %]">details</a>]</td>
</tr>
[%- END %]
 </tbody>
</table>

 
