
[<a href="[% model.id_company %];edit">Edit</a>]
<h2>[% model.name %]</h2>

<dl class="tbl">
 <dt>Email Domain</dt>
 <dd>[% model.email_domain %]</dd>
 <dt>Email Rule</dt>
 <dd>[<a href="[% SCRIPT_NAME %]/email_rule/[% model.id_email_rule %]">[% model.email_rule.rule%]</a>]</dd>
</dl>

<table>
  [% PROCESS team/table_header.tt2 %]
  <tbody>
[%- FOREACH team IN model.teams %]
    [% PROCESS team/table_row.tt2 %]
[%- END %]
  </tbody>
</table>

 
