
<h2>company </h2>
company saved ok. Click <a href="[% SCRIPT_NAME %]/company/[% model.id_company %]">here</a> to continue.
<script type="text/javascript">
 document.location.href="[% SCRIPT_NAME %]/company/[% model.id_company %]";
</script>
 
