
<h2>person_admingroup </h2>
person_admingroup updated ok. Click <a href="[% SCRIPT_NAME %]/person_admingroup/[% model.id_person_admingroup %]">here</a> to continue.
<script type="text/javascript">
 document.location.href="[% SCRIPT_NAME %]/person_admingroup/[% model.id_person_admingroup %]";
</script>
 
