
<h2>person_allowances </h2>
<table id="person_allowance_list">
 <caption>person_allowance list</caption>
 <thead><tr></tr></thead>
 <tbody>
[% FOREACH person_allowance = model.person_allowances %]
<tr>
 
 <td>[<a href="[% SCRIPT_NAME %]/person_allowance/[% person_allowance.id_person_allowance %]">details</a>]</td>
</tr>
[% END %]
 </tbody>
</table>

 
