
<h2>responsibility_fors </h2>
<table id="responsibility_for_list">
 <caption>responsibility_for list</caption>
 <thead><tr></tr></thead>
 <tbody>
[% FOREACH responsibility_for = model.responsibility_fors %]
<tr>
 
 <td>[<a href="[% SCRIPT_NAME %]/responsibility_for/[% responsibility_for.id_responsibility_for %]">details</a>]</td>
</tr>
[% END %]
 </tbody>
</table>

 
