
<h2>people </h2>
<table id="person_list">
 <caption>person list</caption>
 [% PROCESS person/table_header.tt2 %]
 <tbody>
[% FOREACH person = model.people %]
<tr>
 [% PROCESS person/table_row.tt2 %]
</tr>
[% END %]
 </tbody>
</table>

 
