<h2>People</h2>
<table id="person_list">
 <caption>People</caption>
 [% PROCESS person/table_header.tt2 %]
 <tbody>
[%- FOREACH person = model.people %]
 [% PROCESS person/table_row.tt2 %]
[%- END %]
 </tbody>
</table>

 
