<h2>Create Line Management Responsibility For </h2>
<form method="post" action="[% SCRIPT_NAME %]/responsibility_for/">
  [% PROCESS responsibility_for/form_fields.tt2 %]
  <p><input type="submit" value="Add" /></p>
</form>
 
