[<a href="[% model.id_responsibility_for %];edit">Edit</a>]
<h2>Line Management for <a href="[% SCRIPT_NAME %]/person/[% model.id_person %]">[% model.person.full_name %]</a></h2>
<table>
 <tr><th>Line Manager</th><td><a href="[% SCRIPT_NAME %]/person/[% model.id_manager %]">[% model.manager.full_name %]</a></td></tr>
 <tr><th>Requests to go further up</th><td>[% IF model.push_to_further_manager %]Yes[% ELSE %]No[% END %]</td></tr>
</table>



 
